{{- define "title" -}}
{{- if eq .Kind "taxonomy" -}}
{{ i18n "Content tagged" | default "Content tagged" }}
#{{- end -}}
{{- .Title | markdownify | plainify }} &mdash; {{ .Site.Title -}}
{{- end -}}

{{- define "main-content" -}}

{{- if .Content -}}
<article class="content">
  {{- .Content -}}
</article>
{{- end -}}

{{- if .Pages -}}
<ul class="my-10 max-w-5xl">
  {{- range .Pages -}}
  <li>
    {{- .Render "summary" -}}
  </li>
  {{- end -}}
</ul>
{{- end -}}

{{/*
{{- if .Pages -}}
{{ with .OutputFormats.Get "rss" -}}
<footer class="mt-20">
  <a rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="RSS">RSS</a>
</footer>
{{ end -}}
{{- end -}}
*/}}

{{- end -}}
