
<div id="contact-section"
     class="py-10
            bg-gray-300 text-arcanes-mauve">

  <div class="container content">
    
    <h2>Inscription</h2>

    <p>
      La participation aux séances est offerte à tous et à toutes.
      Laissez-nous votre courriel pour obtenir l’accès aux séances virtuelles.
    </p>

    
    <div id="mauticform_wrapper_inscriptionalinfolettre" class="mauticform_wrapper">
      <form autocomplete="false" role="form" method="post" action="https://infolettre.arcanes.ca/form/submit?formId=1" id="mauticform_inscriptionalinfolettre" data-mautic-form="inscriptionalinfolettre" enctype="multipart/form-data">
        <div class="mauticform-error" id="mauticform_inscriptionalinfolettre_error"></div>
        <div class="mauticform-message" id="mauticform_inscriptionalinfolettre_message"></div>
        <div class="mauticform-innerform">

        <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

          <div id="mauticform_inscriptionalinfolettre_courriel" data-validate="courriel" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required">
            <label id="mauticform_label_inscriptionalinfolettre_courriel" for="mauticform_input_inscriptionalinfolettre_courriel" class="mauticform-label block font-bold mb-2">Courriel</label>
            <input id="mauticform_input_inscriptionalinfolettre_courriel" name="mauticform[courriel]" value="" placeholder="nom@exemple.com" class="mauticform-input p-2 border-2 border-arcanes-mauve rounded bg-arcanes-blanc text-arcanes-mauve text-lg w-full md:w-1/2" type="email">
            <span class="mauticform-errormsg" style="display: none;">Ceci est requis.</span>
          </div>

          <div id="mauticform_inscriptionalinfolettre_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-2">
            <button type="submit" name="mauticform[submit]" id="mauticform_input_inscriptionalinfolettre_submit" value="" class="mauticform-button inline-block bg-arcanes-mauve text-white py-4 px-6 rounded mt-4 cursor-pointer">Envoyer</button>
          </div>


        <input type="hidden" name="mauticform[formId]" id="mauticform_inscriptionalinfolettre_id" value="1">
        <input type="hidden" name="mauticform[return]" id="mauticform_inscriptionalinfolettre_return" value="">
        <input type="hidden" name="mauticform[formName]" id="mauticform_inscriptionalinfolettre_name" value="inscriptionalinfolettre">

      </form>
    </div>


    <script type="text/javascript">
      /** This section is only needed once per page if manually copying **/
      if (typeof MauticSDKLoaded == 'undefined') {
          var MauticSDKLoaded = true;
          var head            = document.getElementsByTagName('head')[0];
          var script          = document.createElement('script');
          script.type         = 'text/javascript';
          script.src          = 'https://infolettre.arcanes.ca/media/js/mautic-form.js';
          script.onload       = function() {
              MauticSDK.onLoad();
          };
          head.appendChild(script);
          var MauticDomain = 'https://infolettre.arcanes.ca';
          var MauticLang   = {
              'submittingMessage': "Merci de patienter..."
          }
      }else if (typeof MauticSDK != 'undefined') {
          MauticSDK.onLoad();
      }
    </script>

    <script>
      var emailForm = document.getElementById('mauticform_inscriptionalinfolettre')
      
      emailForm.addEventListener('submit', function () {
        emailForm.setAttribute('disabled', true);
      });
    </script>

  </div>
</div>


