
<div id="contact-section"
     class="py-10
            bg-gray-300">

  <div class="container content">
    
    <h2>Inscription</h2>

    <p>
      La participation aux séances est offerte à tous et à toutes.
      Laissez-nous votre courriel pour obtenir l’accès aux séances virtuelles.
    </p>

    <form action="http://formulaires.arcanes.ca/modules/form_builder/published/infolettre.php" method="post" enctype="multipart/form-data" id="ts_form_element_id" name="edit_submission_form">
      <input type="hidden" id="form_tools_published_form_id" value="1">

      <div class="form-group py-2">
        <label for="courriel"
               class="block font-bold mb-1">
          Courriel
        </label>

        <input type="text" name="courriel" value="" class="p-2 border-2 border-current rounded bg-white text-lg">
      </div>
      
      <input type="submit" value="Soumettre" name="form_tools_continue" class="inline-block bg-black text-white py-4 px-6 rounded mt-4 cursor-pointer" />
      
      

    </form>
  </div>
</div>