<footer class="pt-12 pb-12 bg-gray-900 text-arcanes-blanc border-t border-current border-solid text-xs">
  <div class="container container--full flex flex-row justify-between">
    <div role="contentinfo">
      &copy;&#32;
      {{- now | dateFormat "2006" -}}&#32;
      {{- .Site.Title -}}
    </div>

    {{- if .Site.Menus.footer -}}
    <ul class="flex flex-row ml-auto text-right">
      {{ $currentPage := . }}
      {{- range .Site.Menus.footer -}}
      <li class="mr-4 {{- if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}">
        <a href="{{ .URL | relLangURL }}"
           class="underline hover:underline-none">
          {{- .Title -}}
        </a></li>
      {{- end -}}
    </ul>
    {{- end -}}

    <p>
      {{- with .Site.Author }}{{ .name }} {{ end}}{{ with .Site.Copyright }}— {{ . }}{{ end -}}
    </p>
  </div>
</footer>