<footer class="py-20">
  <div class="container flex flex-row justify-between">
    {{- if .Site.Menus.footer -}}
    <ul class="flex flex-row">
      {{ $currentPage := . }}
      {{- range .Site.Menus.footer -}}
      <li class="mx-2{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}">
        <a href="{{ .URL | relLangURL }}">
          {{- .Title -}}
        </a></li>
      {{- end -}}
    </ul>
    {{- end -}}

    <p>
      {{- with .Site.Author }}{{ .name }} {{ end}}{{ with .Site.Copyright }}— {{ . }}{{ end -}}
    </p>
  </div>
</footer>