<nav class="SiteHeader justify-between items-center border-t-8 border-black border-solid">
  <div class="container container--full flex flex-row flex-wrap items-baseline justify-between">

    <a href="{{ .Site.BaseURL }}"
       title="{{ .Site.Title | markdownify }}"
       class="SiteHeader__Title text-2xl block py-4 pr-4 no-underline hover:underline">
      {{- .Site.Params.shortTitle | default .Site.Title | markdownify -}}
    </a>
    
    
    <ul class="SiteHeader__Menu flex flex-row items-baseline justify-center">
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main.ByWeight -}}
      <li class="mr-4 {{- if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}">
        <a href="{{ .URL }}"
           class="block py-6 hover:underline">{{ .Title }}</a>
      </li>
      {{- end -}}
    </ul>

  </div>
</nav>