<nav class="SiteHead justify-between items-center py-8">
  <div class="container flex flex-row flex-wrap items-baseline justify-between">
    <a href="{{ .Site.BaseURL }}"
       title="{{ .Site.Title | markdownify }}"
       class="SiteHead__Title no-underline pr-3">
      {{- .Site.Title | markdownify -}}
    </a>

    <ul class="SiteHead__Menu flex flex-row items-baseline">
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main.ByWeight -}}
      <li class="mx-2{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}">
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{- end -}}
    </ul>
  </div>
</nav>