{{ define "main" }}

{{- if .Params.landingText }}
<section class="HomeLanding
                py-10"
     >

  <div class="container container--full">
    <figure class="my-6">
      <img src="{{ .Params.landingLogo }}" alt="ARCANES"
      class="w-64" />
    </figure>

    <span class="text-3xl sm:text-4xl md:text-5xl
            leading-tight">
    {{- .Params.landingText | markdownify -}}
    </span>

    {{ if .Params.subtext }}
    <div class="mt-10
                md:text-2xl
                content">
      {{ .Params.subtext  | markdownify }}
    </div>
    {{ end -}}
  </div>
</section>

{{- end -}}

<article>
  
  {{- range .Params.sections }}
  <section class="HomeSection
                  py-20
                  {{ .class | safeHTMLAttr }}">
    <div class="container container--full">
      <div class="content">
        {{ .body | markdownify}}
      </div>
    </div>
  </section>
  {{ end -}}

  <section class="HomeContent
                  py-6
                  text-arcanes-mauve">
    <div class="container">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
  
{{ partial "courriel-form.html" . }}

</article>

<section class="container">
  <div class="content text-arcanes-foret">
    <h2>Partenaires</h2>

    {{ partial "partenaires.html" . }}
  </div>
</section>

{{ end }}