{{ define "main" }}

<article>
  
  {{- if .Params.landingText }}
  <section class="HomeLanding
              py-20
              text-3xl sm:text-4xl md:text-5xl lg:text-6xl
              leading-tight"
       >
    
    <div class="container container--full">
      {{- .Params.landingText | markdownify -}}
    </div>
  </section>
  {{ end -}}

  <section class="HomeContent
                  py-6">
    <div class="container container--full">
      <div class="content text-xl md:text-2xl lg:text-3xl">
        {{ .Content }}
      </div>
    </div>
  </section>
  
  {{- range .Params.sections }}
  <section class="HomeSection
                  py-20
                  {{ .class | safeHTMLAttr }}">
    <div class="container container--full">
      <div class="content">
        {{ .body | markdownify}}
      </div>
    </div>
  </section>
  {{ end -}}

</article>

{{ end }}