{{ define "main" }}

<article>
  
  {{- if .Params.landingText }}
  <section class="HomeLanding
              py-20"
       >
    
    <div class="container container--full">
      <span class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl
              leading-tight text-white bg-black">
      {{- .Params.landingText | markdownify -}}
      </span>
      
      {{ if .Params.subtext }}
      <div class="mt-10
                  content">
        {{ .Params.subtext  | markdownify }}
      </div>
      {{ end -}}
    </div>
  </section>
  {{ end -}}

  <section class="HomeContent
                  py-6">
    <div class="container container--full">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
  
  {{- range .Params.sections }}
  <section class="HomeSection
                  py-20
                  {{ .class | safeHTMLAttr }}">
    <div class="container container--full">
      <div class="content">
        {{ .body | markdownify}}
      </div>
    </div>
  </section>
  {{ end -}}

</article>

{{ end }}