
<div class="py-10 flex flex-row flex-wrap items-center">

  <figure class="mr-6 mb-6">

  <img 
     alt="LANTISS"
     src="/logos/lantiss.jpeg"
  />

  </figure>

  <figure class="mr-6 mb-6">

  <img 
     alt="CRILCQ"
     src="/logos/logo-crilcq.png"
  />

  </figure>

  <figure class="mr-6 mb-6">

    <img 
       alt="CRSH"
       src="/logos/crsh.png"
    />

  </figure>

  <figure class="mr-6 mb-6">

    <img alt="ArTeC"    
    src="/logos/logo-artec.jpg"
    />

  </figure>

  <figure class="mr-6 mb-6">

    <img 
       alt="Paris 8"
       src="/logos/paris8.jpg"
    />

  </figure>

  <figure class="mr-6 mb-6">

    <img 
       alt="Laboratoire Paragraphe"
       src="/logos/logo_paragraphe.gif"
    />

  </figure>

  <figure class="mr-6 mb-6">

    <img 
       alt="Paris Lumières"
       src="/logos/LogoParisLumieres.png"
    />

</figure>

</div>