<div class="tableau-seminaire text-xs md:text-sm my-10">

  <div class="flex flex-row border-b-2 border-t-2 border-current border-solid font-bold">
  
    <div class="hidden md:block flex-shrink-0 md:w-1/5 py-2 md:pr-2">Date</div>

    <div class="hidden md:block flex-shrink-0 md:w-1/2 py-2 md:pr-2">Description</div>

    <div class="hidden md:block flex-shrink-0 md:w-3/10 py-2 md:pr-2">Invité·es</div>

  </div>
  
  {{ range $.Site.Data.calendrier2021 }}
  <div class="md:flex md:flex-row items-start border-b-2 border-current border-solid py-2 md:py-1">
    <div class="flex-shrink-0 md:w-1/5 py-2">
      <strong>{{ .date }}</strong>
      <div class="mt-1 text-xs">
        Paris: {{ .heureParis }}
        <br>
        Montréal: {{ .heureMontreal }}
      </div>
    </div>
    
    <div class="flex-shrink-0 md:w-1/2 py-2 md:pr-2 italic">
        {{ .description | markdownify }}
    </div>

    <div class="flex-shrink-0 md:w-3/10 md:py-2 md:pr-2">

      {{ range .invites }}
      {{ $invite := $.Site.GetPage . }}
      <div class="border-b-1 py-1">
        <a href="{{ $invite.Permalink}}"
         title="Voir la fiche de {{ $invite.Title }}">
          <strong>{{ $invite.Title }}</strong>
        </a>
        <div class="my-1 text-gray-600 text-xs break-normal">
        {{ if reflect.IsSlice $invite.Params.affiliation }}
        {{ range $index, $aff := $invite.Params.affiliation }}
        {{ $aff }}{{ if ne $index 1 }},<br>{{ end }}
        {{ end }}
        {{ else }}
        {{ $invite.Params.affiliation }}
        {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
  {{ end }}
</div>