<div class="tableau-seminaire text-xs md:text-sm my-10">

  <div class="flex flex-row border-b-2 border-t-2 border-current border-solid font-bold">
    <div class="hidden md:block md:w-1/5 p-2">Date</div>

    <div class="hidden md:block md:w-2/5 p-2">Invités</div>

    <div class="hidden md:block md:w-2/5 p-2">Description</div>
  </div>
  
  {{ range $.Site.Data.calendrier2021 }}
  <div class="md:flex md:flex-row items-start border-b-2 border-current border-solid py-2 md:py-1">
    <div class="md:w-1/5 p-2">
      <strong>{{ .date }}</strong>
      <div class="mt-1 text-xs">
        Paris: {{ .heureParis }}
        <br>
        Montréal: {{ .heureMontreal }}
      </div>
    </div>
    
    <div class="md:w-2/5 md:p-2">

        {{ range .invites }}
      <div class="border-b-1 py-1">
          <details>
            <summary>
              <strong>{{ .nom }}</strong>
              {{ if .affiliation }}
              <div class="my-1 pl-5 text-gray-500 text-xs">
              {{ .affiliation }}
              </div>
              {{ end }}
            </summary>
            
            {{ if .bio }}
            <div class="text-gray-700 pl-4">
              {{ .bio | markdownify }}
            </div>
            {{ end }}
          </details>
        </div>
        {{ end }}
    </div>

    <div class="md:w-2/5 p-2 italic">
        {{ .description | markdownify }}
<!--
      <details>
        <summary class="font-bold">Développer</summary>
        
      </details>
-->
    </div>
  </div>
  {{ end }}
</div>